body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  color: #a73162;
}

.App {
  max-width: 700px;
  margin-inline: auto;
  padding-inline: 2em;
}

.title {
  text-align: center;
}

.plus-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  border-radius: 8px;
}

li {
  display: inline-block;
  cursor: pointer;
  margin: 10px;
  padding: 0.7em 1em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0 0 5px;
  list-style-type: none;
  border-radius: 7px;
}

li:hover {
  color: white;
  background-color: #a73162;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  gap: 20px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  margin-inline: auto;
  margin-bottom: 50px;
}

input,
select {
  border: none;
  padding: 8px;
  border-radius: 7px;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
}

input[type='submit'],
option {
  cursor: pointer;
}

.book-details {
  margin-block: 30px;
  padding: 1em 3em;
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.2);
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.5);
}

.book-name {
  text-align: center;
}

.book-list-container {
  display: flex;
}
